<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <i class="hamburger align-self-center"></i>
    </a>


    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" id="messagesDropdown" (click)="loadMessages()" data-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" data-feather="message-square"></i>
                        <span class="indicator" *ngIf="messages.length > 0">{{messages.length}}</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="messagesDropdown">
                    <div class="dropdown-menu-header">
                        <div class="position-relative" *ngIf="messages.length > 1">
                            {{messages.length}} Nouveaux Messages
                        </div>
                        <div class="position-relative" *ngIf="messages.length == 0">
                            rien à l'horizon
                        </div>
                        <div class="position-relative" *ngIf="messages.length == 1">
                            Un Nouveau Message
                        </div>
                    </div>
                    <div class="list-group">
                        <a (click)="redirectToChat(m)" class="list-group-item" *ngFor="let m of messages">
                            <div class="row no-gutters align-items-center">
                                <div class="col-2">
                                    <img [src]="m.sender.imageUrl ? m.sender.imageUrl : 'assets/img/default.png'" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                </div>
                                <div class="col-10 pl-2">
                                    <div class="text-dark">{{m.sender.nom}} {{m.sender.prenom}}</div>
                                    <div class="text-muted small mt-1"><span class="badge badge-primary">{{m.subject.nom_tache}}</span></div>
                                    <div class="text-muted small mt-1">{{m.contenu}}</div>
                                    <div class="text-muted small mt-1">{{m.createdAt | date : 'short'}}</div>
                                </div>
                            </div>
                        </a>       
                    </div>
                    <div class="dropdown-menu-footer">
                        <a routerLink="/tasks" class="text-muted">Voir toutes les tâches</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a  *ngIf="user" class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                    <img [src]="user.imageUrl ? user.imageUrl : 'assets/img/default.png'" class="avatar img-fluid rounded mr-1" /> <span class="text-dark" >{{user.prenom}} {{user.nom}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="profile"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
                    <a class="dropdown-item" routerLink="dashboard"><i class="align-middle mr-1" data-feather="pie-chart"></i> dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="manual"><i class="align-middle mr-1" data-feather="help-circle"></i>Manuel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Se deconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>