<body>
<main class="d-flex w-100 background">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-6 col-md-6 col-lg-5 mx-auto d-table h-90">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <p class="lead white">
                            Connexion
                        </p>
                        
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="text-center">
                                    <img src="assets/img/F.png"  class="img-fluid " width="132" height="132" />
                                </div>
                                <div *ngIf="errors">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div class="alert-message">
                                            <strong>Connexion echouée</strong> <br/> <small>Veuillez vérifier vos informations, ou contacter votre administrateur.</small>
                                        </div>
                                    </div>
                                </div>
                                <form #loginForm="ngForm">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input #mail="ngModel" class="form-control form-control-lg" [(ngModel)]="email" required type="email" name="email" placeholder="Votre email" />
                                        <span *ngIf="mail.touched && mail.errors" class="font-13 msg">email incorrecte</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input class="form-control form-control-lg"  required [(ngModel)]="password" type="password" name="password" placeholder="Mot de passe" />
                                        
                                    </div>
                                    <div>
                                        <label class="custom-control custom-checkbox m-0">
                                            <input [(ngModel)]="always" name="chk" class="custom-control-input" type="checkbox" >
                                            <span class="custom-control-label">Rester connecté</span>
                                        </label>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary">Se connecter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
</body>
