<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar" *ngIf="user">
        <a class="sidebar-brand" (click)="goHome()">
            <span class="align-middle"><img src="assets/img/logowh.png" /></span>
        </a>
        <ul class="sidebar-nav">
            <li *ngIf="user" class="sidebar-header">
                {{today | date : 'EEEE dd/MM/yyyy hh:mm' : 'fr'}}
            </li>         
            <li  [ngClass]="user.role === 'admin'?isActiveTab('/dashboard'):'none'">
                <a routerLink="/dashboard"  class="sidebar-link">
                    <i class="align-middle mr-2 far fa-fw fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-header">
                Commercial
            </li>
            <li [ngClass]="user.role === 'admin'? isActiveTab('/products') : 'none'" >
                <a routerLink="/products" class="sidebar-link"  >
                    <i class="align-middle mr-2 far fa-fw fa-bookmark"></i> <span class="align-middle">Produits</span>
                </a>
            </li>
            <li [ngClass]="user.role === 'admin' ? isActiveTab('/comparateur'):'none'" >
                <a routerLink="/comparateur" class="sidebar-link"  >
                    <i class="align-middle mr-2 far fa-fw fa-file-code"></i> <span class="align-middle">Comparateur</span>
                </a>
            </li>  
             
            <li [ngClass]="isActiveTab('/veille-concurentielle')" >
                <a routerLink="/veille-concurentielle" class="sidebar-link">
                    <i class="align-middle mr-2 far fa-fw fa-folder"></i> <span class="align-middle">Analyse concurrentielle</span>
                </a>
            </li> 
            <li [ngClass]="isActiveTab('/veille-concurentielle-admin')" >
                <a routerLink="/veille-concurentielle-admin"  class="sidebar-link" >
                    <i class="align-middle mr-2 far fa-fw fa-flag"></i> <span class="align-middle">Veilles concurrentielles</span>
                </a>
            </li> 
            <li [ngClass]="isActiveTab('/packs')" >
                <a routerLink="/packs" class="sidebar-link"  >
                    <i  class="align-middle mr-2 far fa-fw fa-clone"></i> <span class="align-middle">Packs</span>
                </a>
            </li>     
            <li [ngClass]="isActiveTab('commandes')">
                <a href="#pages" data-toggle="collapse" class="sidebar-link collapsed">
                    <i  class="align-middle mr-2 far fa-fw fa-credit-card"></i> <span class="align-middle">Commandes</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li [ngClass]="isActiveTab('/saisie-commandes')"><a class="sidebar-link" routerLink="/saisie-commandes">Saisie</a></li>
                    <li [ngClass]="isActiveTab('/historique-commandes')"><a class="sidebar-link" routerLink="/historique-commandes">Historique</a></li>
                </ul>
            </li>       
            <li class="sidebar-header">
                Contacts & Utilisateurs
            </li>                    
            <li [ngClass]="user.role === 'admin' ? isActiveTab('/users') : 'none'" >
                <a routerLink="/users" class="sidebar-link">
                    <i  class="align-middle mr-2 far fa-fw fa-address-card"></i> <span class="align-middle">Utilisateurs</span>
                </a>
            </li>
            <li [ngClass]="isActiveTab('/planning')" >
                <a routerLink="/planning" class="sidebar-link"  >
                    <i class="align-middle mr-2 far fa-fw fa-calendar-check"></i> <span class="align-middle">Planning</span>
                </a>
            </li>
            <li [ngClass]="user.role === 'admin' ? isActiveTab('clients') : 'none'">
                <a href="#pages2" data-toggle="collapse" class="sidebar-link collapsed">
                    <i  class="align-middle mr-2 far fa-fw fa-address-book"></i> <span class="align-middle">Clients</span>
                </a>
                <ul id="pages2" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li [ngClass]="isActiveTab('/grossite-clients')"><a class="sidebar-link" routerLink="/grossiste-clients">Grossistes</a></li>
                    <li [ngClass]="isActiveTab('/pharmacie-clients')"><a class="sidebar-link" routerLink="/pharmacie-clients">Pharmacies</a></li>
                </ul>
            </li>

          
            <li [ngClass]="isActiveTab('/taches')">
                <a routerLink="/taches" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-clipboard"></i> <span class="align-middle">Taches</span>
                </a>
            </li>  
            <li  [ngClass]="user.role === 'admin' ? isActiveTab('/contacts') : 'none'">
                <a routerLink="/contacts" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-envelope-open"></i> <span class="align-middle">Contacts</span>
                </a>
            </li>  
            <li [ngClass]="user.role === 'admin' ? isActiveTab('/reunions') : 'none'">
                <a routerLink="/reunions" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-handshake"></i> <span class="align-middle">Reunions</span>
                </a>
            </li> 
            <li [ngClass]="(user.role === 'admin' || user.role === 'superviseur') ? isActiveTab('/evaluations') : 'none'">
                <a routerLink="/evaluations" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-star"></i> <span class="align-middle">Evaluations</span>
                </a>
            </li>  
            <li [ngClass]="user.role === 'admin' ? isActiveTab('/rapports'):'none'">
                <a routerLink="/rapports" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-keyboard"></i> <span class="align-middle">Rapports</span>
                </a>
            </li>  
            <li [ngClass]="isActiveTab('/profile')">
                <a routerLink="/profile" class="sidebar-link" >
                    <i  class="align-middle mr-2 far fa-fw fa-user"></i> <span class="align-middle">Profile</span>
                </a>
            </li>  
        </ul>
    </div>
    
</nav>